.display_matching_word
  %h2 单词匹配后界面
  .body-top-line
    %hr
  .body
    .part-left
      %textarea{rows:"20", cols:"70"}
    .part-center
      %hr{align: "center", width: "1px",size:"310px"}
    .part-right
      %textarea{rows:"20", cols:"70"}
  .body-footer-line
    %hr

  .footer-button
    %button.submit_word{title: "完成单词的录入将所录入的单词保存"} 保存单词表
  .footer-line
    %hr