.matching_word
  %h2 单词匹配
  .body-top-line
    %hr
  .body
    .part-left
      %textarea{rows:"20", cols:"70"}
    .part-center
      %hr{align: "center", width: "1px",size:"310px"}
    .part-right
  .body-footer-line
    %hr

  .footer-button
    %button.check-in-article 文章录入
    %button.check-in-insert 单词录入
    %button.submit_word{title: "单词两两组合"} 单词配对
  .footer-line
    %hr